@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Central de Quadras";
}
<h2>@ViewData["Title"] </h2>
<body>
    <img src="~/images/Quadra.jpg" alt="ASP.NET" class="img-responsive"/>
</body>